Repository Central-MakeUs/Mercury-Web, pull requests merged in 2025-01, with the labels that each got.

#1 feat: CI 워크플로우 추가
  .github/workflows/ci-test.yml
  .github/workflows/size-labeler.yml
  .github/workflows/test-coverage.yml
  .gitignore
  __tests__/default.test.tsx
  lefthook.yml
  package-lock.json
  package.json
  packages/design-system/Text.stories.tsx
  packages/design-system/Text.tsx
  packages/icon/MyIcon.tsx
  packages/mocks/handlers/hello/helloHandler.ts
  packages/mocks/handlers/index.ts
  packages/mocks/handlers/mock/mockHandler.ts
  packages/test-utils/index.ts
  src/main.tsx
  test-results.json
  vitest.config.mts
Labels: size/M

#11 feat: 리액트 라우터 디펜던시 추가, 라우팅 구조 설계
  package-lock.json
  package.json
  src/App.tsx
  src/app/BottomNavigationLayout.tsx
  src/main.tsx
  src/pages/BookRecordPage.tsx
  src/pages/BookRecordWritePage.tsx
  src/pages/HomePage.tsx
  src/pages/OnBoardingPage.tsx
  src/pages/ProfilePage.tsx
  src/pages/TimerPage.tsx
Labels: size/M

#13 feat: text 컴포넌트 구현
  packages/design-system/Text.stories.tsx
  packages/design-system/Text.tsx
Labels: size/M

#14 feat: Floating Action Button 구현
  packages/design-system/FloatingActionButton.stories.tsx
  packages/design-system/FloatingActionButton.tsx
Labels: size/M

#16 feat: search bar implement
  packages/design-system/SearchBar.stories.tsx
  packages/design-system/SearchBar.tsx
  packages/icon/MagnifyIcon.tsx
Labels: size/M

#18 feat: token 연동
  packages/token/index.ts
  tailwind.config.mts
Labels: size/M

#28 feat: cta button 컴포넌트
  .gitignore
  packages/design-system/CtaButton.tsx
Labels: size/S

#30 feat: font 적용
  public/fonts/Pretendard-Bold.subset.woff2
  public/fonts/Pretendard-Medium.subset.woff2
  public/fonts/Pretendard-Regular.subset.woff2
  public/fonts/Pretendard-SemiBold.subset.woff2
  src/index.css
  tailwind.config.mts
Labels: size/S

#20 feat: 바텀 네비게이션 바 구현
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/preview.tsx
  packages/design-system/BottomNavigationBar.stories.tsx
  packages/design-system/BottomNavigationBar.tsx
  packages/design-system/MobileLayout.tsx
  packages/icon/BookIcon.tsx
  packages/icon/HomeIcon.tsx
  packages/icon/IconButton.tsx
  packages/icon/MyIcon.tsx
  packages/icon/TimerIcon.tsx
  packages/token/index.ts
  src/app/BottomNavigationLayout.tsx
  src/main.tsx
  src/widgets/MercuryBottomNavigationBar.tsx
  tailwind.config.mts
  tsconfig.app.json
Labels: size/L

#29 feat: Review Write Page Funnel Scafolding
  src/features/bookRecordWrite/BookRecordWriteFunnel.tsx
  src/features/bookRecordWrite/BookRecordWriteProgressStep.tsx
  src/features/bookRecordWrite/BookRecordWriteSearchStep.tsx
  src/features/bookRecordWrite/BookRecordWriteTextStep.tsx
  src/features/bookRecordWrite/bookRecordStepState.ts
  src/pages/BookRecordWritePage.tsx
Labels: size/M

#33 feat: 상단 Navigation
  packages/design-system/Button.stories.tsx
  packages/design-system/Button.tsx
  packages/design-system/CtaButton.stories.tsx
  packages/design-system/CtaButton.tsx
  packages/design-system/Text.tsx
  packages/design-system/TopNavigation.stories.tsx
  packages/design-system/TopNavigation.tsx
  packages/icon/BackIcon.tsx
Labels: size/M

#34 feat: 토글바 컴포넌트
  packages/design-system/Text.tsx
  packages/design-system/ToggleBar.stories.tsx
  packages/design-system/ToggleBar.tsx
  packages/design-system/TopNavigation.tsx
Labels: size/M

#37 feat: 텍스트area 컴포넌트
  packages/design-system/TextArea.stories.tsx
  packages/design-system/TextArea.tsx
  packages/design-system/ToggleBar.tsx
Labels: size/M

#39 feat: 토스트 컴포넌트 구현
  package-lock.json
  package.json
  packages/design-system/Toast.tsx
  packages/providers/index.tsx
  packages/token/index.ts
  public/images/toast/toast_mercury_icon.webp
  src/pages/OnBoardingPage.tsx
Labels: size/M

#40 feat: 책 리스트 item 컴포넌트
  src/features/bookRecordWrite/components/BookList.stories.tsx
  src/features/bookRecordWrite/components/RecordedBookItem.tsx
  src/features/bookRecordWrite/components/SearchBookItem.tsx
Labels: size/M

#44 feat: aws 배포 CI/CD 연동
  .github/workflows/aws-deploy-cd.yml
  biome.json
  package.json
Labels: size/M

#45 feat: Timer 페이지 구현
  packages/design-system/BottomNavigationBar.tsx
  packages/design-system/TimePickerBottomSheet.tsx
  packages/design-system/Toast.tsx
  packages/icon/MercuryIcon.tsx
  packages/ui/Iife.tsx
  src/features/timer/components/TimerButtonSection.tsx
  src/features/timer/components/TimerDescription.tsx
  src/features/timer/components/TimerSpeechBubble.stories.tsx
  src/features/timer/components/TimerSpeechBubble.tsx
  src/features/timer/components/TimerText.tsx
  src/features/timer/model/TimerEffector.tsx
  src/features/timer/model/TimerProvider.tsx
  src/pages/TimerPage.tsx
Labels: size/L

#46 feat: 독서기록 페이지, 독서기록Write 퍼널 퍼블리싱
  packages/bridge-web/SafeArea.tsx
  packages/design-system/CtaButton.tsx
  packages/design-system/TextArea.stories.tsx
  packages/design-system/TextArea.tsx
  packages/design-system/TopNavigation.tsx
  public/images/bookrecord/bookrecord_search_empty_fallback.webp
  public/images/bookrecord/bookrecord_tab_empty_fallback.webp
  src/features/bookRecordWrite/BookRecordWriteFunnel.tsx
  src/features/bookRecordWrite/BookRecordWriteProgressStep.tsx
  src/features/bookRecordWrite/BookRecordWriteSearchStep.tsx
  src/features/bookRecordWrite/BookRecordWriteTextStep.tsx
  src/index.css
  src/main.tsx
  src/pages/BookRecordPage.tsx
Labels: size/L

#47 feat: get books/search api mockdata 구현 , api 연동 코드 작성
  packages/http/createResponse.ts
  packages/http/type.ts
  packages/mocks/db/mockSearchBooks.db.ts
  packages/mocks/db/mockUsers.db.ts
  packages/mocks/handlers/booksSearch/mockGetBooksSearch.ts
  packages/mocks/handlers/booksSearch/mockGetbooksSearchHandler.ts
  packages/mocks/handlers/hello/helloHandler.ts
  packages/mocks/handlers/index.ts
  src/entities/record/api/getBooksSearch.ts
  src/entities/record/api/record.querykey.ts
  src/entities/record/model/book.model.ts
  src/entities/user/model/user.model.ts
Labels: size/M

#48 feat: clarity intergration
  package-lock.json
  package.json
  packages/analytics/index.tsx
  src/features/bookRecordWrite/components/RecordedBookItem.tsx
  src/features/bookRecordWrite/components/SearchBookItem.tsx
  src/main.tsx
Labels: size/M

#53 feat: 드롭다운 컴포넌트
  package-lock.json
  package.json
  packages/design-system/TopNavigation.tsx
  src/features/bookRecordWrite/components/DropDown.stories.tsx
  src/features/bookRecordWrite/components/DropDownMenu.tsx
Labels: size/L

#52 feat: dialog
  package-lock.json
  package.json
  packages/design-system/Button.tsx
  packages/design-system/CtaButton.tsx
  src/features/bookRecordDetail/components/Dialog.stories.tsx
  src/features/bookRecordDetail/components/DialogConfirm.tsx
  src/features/bookRecordDetail/components/DialogContent.tsx
  src/features/bookRecordDetail/components/DialogMenu.tsx
  src/features/bookRecordWrite/BookRecordWriteTextStep.stories.tsx
Labels: size/L

#59 feat: toast variants 추가 작업
  packages/design-system/Toast.tsx
Labels: size/S

#60 feat: onboarding scafolding
  package-lock.json
  package.json
  public/images/common/apple_button.webp
  public/images/common/google_button.webp
  public/images/common/kakao_button.webp
  public/images/logo/mercury_login_logo.webp
  public/images/logo/wordmarklogo_darkbg.webp
  src/main.tsx
  src/pages/OnBoardingPage.tsx
  src/shared/ui/AppleButton.tsx
  src/shared/ui/GoogleButton.tsx
  src/shared/ui/KakaoButton.tsx
  tailwind.config.mts
Labels: size/L

#62 refactor: css
  packages/design-system/TimePickerBottomSheet.tsx
  src/pages/TimerPage.tsx
Labels: size/XS

#63 fix: 서버 실제 연동 이후 오류 수정
  package-lock.json
  package.json
  packages/http/createResponse.ts
  packages/http/index.ts
  packages/mocks/handlers/booksSearch/mockGetbooksSearchHandler.ts
  packages/providers/index.tsx
  src/entities/record/api/getBooksSearch.ts
  src/entities/user/api/getTestUser.ts
  src/entities/user/model/useTestUserStore.tsx
  src/features/bookRecordRead/BookRecordList.tsx
  src/features/bookRecordRead/model/bookRecord.model.ts
  src/main.tsx
  src/pages/OnBoardingPage.tsx
Labels: size/M

#65 fix: invalidation error fix
  src/entities/record/api/record.querykey.ts
  src/features/bookRecordWrite/BookRecordWriteFunnel.tsx
Labels: size/S

#66 feat: 독서기록 디테일, 수정, 삭제, 전체삭제 구현
  packages/design-system/Dialog.stories.tsx
  packages/design-system/Dialog.tsx
  packages/design-system/DropDownMenu.stories.tsx
  packages/design-system/DropDownMenu.tsx
  packages/design-system/Pressable.tsx
  packages/design-system/TimePickerBottomSheet.tsx
  packages/providers/index.tsx
  packages/token/index.ts
  public/images/common/polygon_yellow_green.webp
  src/entities/record/api/deleteMemoDetail.ts
  src/entities/record/api/deleteRecords.ts
  src/entities/record/api/getBookMemos.ts
  src/entities/record/api/getRecordDetail.ts
  src/entities/record/api/getRecords.ts
  src/entities/record/api/patchMemoDetail.ts
  src/entities/record/api/postMemo.ts
  src/entities/record/api/record.querykey.ts
  src/entities/record/components/ProgressStep/BookRecordWriteProgressStep.stories.tsx
  src/entities/record/components/ProgressStep/BookRecordWriteProgressStep.test.tsx
  src/entities/record/components/ProgressStep/BookRecordWriteProgressStep.tsx
  src/entities/record/components/SearchStep/BookRecordWriteSearchStep.tsx
  src/entities/record/components/SearchStep/WriteSearchBar.tsx
  src/entities/record/components/SearchStep/WriteSearchBookItem.tsx
  src/entities/record/components/SearchStep/WriteSearchList.tsx
  src/entities/record/components/SearchStep/WriteSearchStep.store.tsx
  src/entities/record/components/SearchStep/WriteSearchToggleGroup.tsx
  src/entities/record/components/TextAndProgressFunnel/TextAndProgressFunnel.tsx
  src/entities/record/components/TextStep/BookRecordWriteTextStep.stories.tsx
  src/entities/record/components/TextStep/BookRecordWriteTextStep.test.tsx
  src/entities/record/components/TextStep/BookRecordWriteTextStep.tsx
  src/entities/record/model/memo.model.ts
  src/entities/record/model/record.constants.ts
  src/entities/record/model/record.model.ts
  src/features/bookRecordDetail/BookRecordMemo.stories.tsx
  src/features/bookRecordDetail/BookRecordMemo.tsx
  src/features/bookRecordDetail/InteractiveBookRecordTopNavigationBar.tsx
  src/features/bookRecordDetail/components/AllMemoDeleteDialog.tsx
  src/features/bookRecordDetail/components/BookRecordDetailFloatButton.tsx
  src/features/bookRecordDetail/components/BookRecordDetailMemoItem.tsx
  src/features/bookRecordDetail/components/BookRecordDetailTopSection.tsx
  src/features/bookRecordDetail/components/Dialog.stories.tsx
  src/features/bookRecordDetail/components/Dialog.tsx
  src/features/bookRecordDetail/components/DialogConfirm.tsx
  src/features/bookRecordDetail/components/DialogMenu.tsx
  src/features/bookRecordDetail/components/DropDownMenu.tsx
  src/features/bookRecordDetail/components/MemoEditDialog.tsx
  src/features/bookRecordDetail/components/RecordedBookMemo.stories.tsx
  src/features/bookRecordDetail/components/RecordedBookMemo.tsx
  src/features/bookRecordRead/BookRecordList.tsx
  src/features/bookRecordWrite/BookRecordWriteFunnel.tsx
  src/main.tsx
  src/pages/BookRecordDetailPage.tsx
  src/pages/BookRecordMemoAddPage.tsx
  src/pages/BookRecordMemoModifyPage.tsx
  src/pages/BookRecordMemoPage.tsx
  src/pages/HomePage.tsx
  src/pages/OnBoardingPage.tsx
  src/shared/utils/createNaverReviewUrl.ts
  src/shared/utils/openExternalUrl.ts
  tailwind.config.mts
Labels: size/L

#68 fix: 메모 한줄시 디자인 변경
  src/features/bookRecordDetail/components/BookRecordDetailMemoItem.tsx
Labels: size/XS

#69 fix: qa 반영사항 , cta 올라옴 | 2줄만들기
  src/entities/record/components/ProgressStep/BookRecordWriteProgressStep.test.tsx
  src/entities/record/components/ProgressStep/BookRecordWriteProgressStep.tsx
  src/entities/record/components/SearchStep/WriteSearchBar.tsx
  src/entities/record/components/SearchStep/WriteSearchList.tsx
  src/features/bookRecordRead/components/FirstUserRecordFallback.tsx
  src/features/bookRecordWrite/BookRecordWriteFunnel.tsx
  src/main.tsx
  src/pages/BookRecordPage.tsx
Labels: size/S

#70 fix: naver mobile url로 변경
  src/shared/utils/createNaverReviewUrl.ts
Labels: size/XS

#71 fix: 메모 추가시 게이지 유지
  src/entities/record/components/TextAndProgressFunnel/TextAndProgressFunnel.tsx
Labels: size/XS

#72 fix: 2줄 라인 수정
  src/features/bookRecordRead/components/FirstUserRecordFallback.tsx
Labels: size/XS

#73 fix: safearea 제거
  src/entities/record/components/SearchStep/WriteSearchBar.tsx
  src/features/bookRecordDetail/InteractiveBookRecordTopNavigationBar.tsx
  src/features/bookRecordDetail/components/BookRecordDetailMemoItem.tsx
  src/main.tsx
  src/pages/BookRecordDetailPage.tsx
Labels: size/M
