Repository Central-MakeUs/Mercury-Web, pull requests merged in 2025-02, with the labels that each got.

#75 feat: UT 이후 디자인 수정 및 알림 없음 페이지 추가
  packages/design-system/Button.tsx
  packages/design-system/FloatingActionButton.stories.tsx
  packages/design-system/FloatingActionButton.tsx
  public/images/bookrecord/bookrecord_tab_no_record_result_fallback.webp
  public/images/bookrecord/bookrecord_tab_no_search_result_fallback.webp
  public/images/bookrecord/floating_icon.webp
  public/images/notification/notification_empty.webp
  src/entities/record/components/SearchStep/WriteSearchList.tsx
  src/features/bookRecordRead/components/FirstUserRecordFallback.tsx
  src/features/bookRecordRead/components/SearchResultEmptyFallback.tsx
  src/features/notification/NotificationEmpty.tsx
  src/features/timer/components/TimerDescription.tsx
  src/features/timer/lib/getTimerSpeechBubbleText.ts
  src/main.tsx
  src/pages/Notification.tsx
Labels: size/M

#81 feat: tabbar 수정 및 시작 페이지 조정
  packages/design-system/SettingsBadge.stories.tsx
  packages/design-system/SettingsBadge.tsx
  packages/icon/SettingsIcon.tsx
  src/pages/HomePage.tsx
  src/pages/OnBoardingPage.tsx
  src/widgets/MercuryBottomNavigationBar.tsx
Labels: size/M

#82 feat: 마이페이지 디자인 수정 및 설정 페이지 퍼블리싱
  packages/design-system/Caption.tsx
  src/entities/user/components/ExpProgressBar.tsx
  src/features/settingsMenu/settingsMenuItem.tsx
  src/features/userExp/HabitSection.tsx
  src/features/userInfo/UserInfoSection.tsx
  src/main.tsx
  src/pages/HomePage.tsx
  src/pages/SettingPage.tsx
Labels: size/L

#83 feat: 스트릭 클릭시 미션 모달
  packages/icon/CheckIcon.tsx
  public/images/habit/habit_block.webp
  public/images/habit/mercury_habit_logo.webp
  src/entities/user/components/HabitCalendar.tsx
  src/features/userExp/HabitSection.tsx
Labels: size/M

#84 feat: add storage
  package-lock.json
  package.json
  packages/storage/localStorageService.ts
  packages/storage/useLocalStorageService.ts
  packages/storage/useStorageService.ts
Labels: size/M

#85 feat: bridge 싱크 + safe area 처리 추가
  package.json
  packages/bridge-web/bookRecordStepState.ts
  packages/bridge-web/index.ts
  packages/bridge-web/isApp.ts
  packages/bridge-web/useIsApp.ts
  packages/bridge-web/useIsKeyboardUp.ts
  packages/design-system/BottomNavigationBar.tsx
  src/entities/record/components/SearchStep/WriteSearchList.tsx
  src/features/bookRecordRead/GoBookRecordWriteButton.tsx
  src/features/bookRecordWrite/BookRecordWriteFunnel.tsx
  src/kernel.d.ts
  src/pages/BookRecordPage.tsx
  src/pages/BookRecordWritePage.tsx
  src/pages/HomePage.tsx
  src/pages/TimerPage.tsx
  src/shared/hooks/usePrevious.ts
  src/shared/hooks/useWindowHeight.ts
  src/widgets/MercuryBottomNavigationBar.tsx
Labels: size/L

#87 feat: 디자인 변경점 수정
  packages/design-system/SendActionButton.stories.tsx
  packages/design-system/SendActionButton.tsx
  packages/icon/SendIcon.tsx
  packages/token/index.ts
  src/entities/record/api/getBooksSearch.ts
  src/entities/record/components/ProgressStep/BookRecordWriteProgressStep.tsx
  src/entities/record/components/TextStep/BookRecordWriteTextStep.test.tsx
  src/entities/record/components/TextStep/BookRecordWriteTextStep.tsx
  src/features/bookRecordDetail/components/BookRecordDetailMemoItem.stories.tsx
  src/features/bookRecordDetail/components/BookRecordDetailMemoItem.tsx
  src/pages/BookRecordDetailPage.tsx
Labels: size/L

#90 feat: 게이지 디자인 수정
  packages/design-system/SingleSlider.tsx
  src/entities/record/components/ProgressStep/BookRecordWriteProgressStep.tsx
  src/entities/record/components/TextStep/BookRecordWriteTextStep.tsx
  src/shared/constants/externalLink.ts
Labels: size/XS

#91 feat: add useQueryString | Image Automation
  imageConstantsGenerator.mts
  package-lock.json
  package.json
  packages/http/index.ts
  src/entities/record/components/ProgressStep/BookRecordWriteProgressStep.tsx
  src/entities/record/components/SearchStep/WriteSearchList.tsx
  src/entities/user/api/postUsersTest.ts
  src/entities/user/model/user.model.ts
  src/features/timer/components/TimerSpeechBubble.tsx
  src/features/timer/lib/timer.constants.ts
  src/features/userExp/HabitSection.tsx
  src/features/userInfo/UserInfoSection.tsx
  src/pages/OnBoardingPage.tsx
  src/pages/ProfilePage.tsx
  src/pages/TimerPage.tsx
  src/shared/hooks/useBooleanQueryString.ts
  src/shared/hooks/useQueryString.ts
  src/shared/images/bookrecord/bookrecordImages.ts
  src/shared/images/common/commonImages.ts
  src/shared/images/gauge/gaugeImages.ts
  src/shared/images/habit/habitImages.ts
  src/shared/images/home/homeImages.ts
  src/shared/images/logo/logoImages.ts
  src/shared/images/notification/notificationImages.ts
  src/shared/images/timer/timerImages.ts
  src/shared/images/toast/toastImages.ts
  tsconfig.app.json
  vite.config.ts
Labels: size/XXL

#94 feat: 게스트 기능 구현 | 앱 클립보드 복사 기능 구현
  imageConstantsGenerator.mts
  packages/env/index.ts
  packages/http/index.ts
  packages/storage/useLocalStorageService.ts
  packages/storage/useStorageService.ts
  src/entities/record/api/deleteMemoDetail.ts
  src/entities/record/api/deleteRecords.ts
  src/entities/record/api/getRecordDetail.ts
  src/entities/record/api/getRecords.ts
  src/entities/record/api/patchMemoDetail.ts
  src/entities/record/api/postMemo.ts
  src/entities/record/api/postRecords.ts
  src/entities/record/api/record.querykey.ts
  src/entities/record/model/guestRecordStore.ts
  src/entities/record/model/memo.model.ts
  src/entities/timer/api/postTimers.ts
  src/entities/user/api/getTestUser.ts
  src/entities/user/api/getUserQueryOptions.ts
  src/entities/user/api/postUsersTest.ts
  src/entities/user/components/LogoutDialog.tsx
  src/entities/user/components/NotSigned.tsx
  src/entities/user/components/Signed.tsx
  src/entities/user/model/auth.store.ts
  src/entities/user/model/useTestUserStore.tsx
  src/features/bookRecordDetail/components/AllMemoDeleteDialog.tsx
  src/features/bookRecordDetail/components/BookRecordDetailMemoItem.stories.tsx
  src/features/bookRecordDetail/components/BookRecordDetailTopSection.tsx
  src/features/bookRecordDetail/components/MemoEditDialog.tsx
  src/features/bookRecordRead/BookRecordList.tsx
  src/features/bookRecordWrite/BookRecordWriteFunnel.tsx
  src/features/settingsMenu/components/SettingMenuList.tsx
  src/features/timer/components/TimerButtonSection.tsx
  src/features/userExp/HabitSection.tsx
  src/features/userInfo/UserInfoSection.tsx
  src/index.css
  src/main.tsx
  src/pages/BookRecordDetailPage.tsx
  src/pages/BookRecordMemoAddPage.tsx
  src/pages/BookRecordMemoModifyPage.tsx
  src/pages/LoginPage.tsx
  src/pages/OnBoardingPage.tsx
  src/pages/SettingPage.tsx
  src/shared/utils/copyClipBoard.ts
  src/shared/utils/generateRandomId.ts
Labels: size/XL

#93 feat: 이용약관, 개인정보수집 동의 페이지
  packages/icon/CheckIconHome.tsx
  src/main.tsx
  src/pages/LoginSuccessPage.tsx
  src/pages/OnBoardingPage.tsx
  src/pages/TermsPrivacyConsentPage.tsx
Labels: size/L

#95 feat: 리프레쉬토큰 재발급 로직 구현
  packages/http/createResponse.ts
  packages/http/index.ts
  src/entities/user/api/getUserQueryOptions.ts
  src/entities/user/api/useLogin.ts
  src/entities/user/api/useLogout.ts
  src/entities/user/api/useSignOut.tsx
  src/features/userInfo/UserInfoSection.tsx
  src/pages/HomePage.tsx
  src/pages/LoginPage.tsx
  src/pages/OnBoardingPage.tsx
  src/shared/utils/openExternalUrl.ts
Labels: size/M

#96 feat: 소셜로그인 연동
  package.json
  packages/design-system/Button.tsx
  src/entities/record/api/postMemo.ts
  src/entities/record/api/postRecords.ts
  src/entities/user/api/useLogout.ts
  src/entities/user/components/LogoutDialog.tsx
  src/entities/user/components/NotSigned.tsx
  src/entities/user/components/Signed.tsx
  src/features/bookRecordWrite/BookRecordWriteFunnel.tsx
  src/features/userExp/HabitSection.tsx
  src/main.tsx
  src/pages/BookRecordMemoAddPage.tsx
  src/pages/HomePage.tsx
  src/pages/OnBoardingPage.tsx
  src/shared/utils/openInAppUrl.ts
  src/shared/utils/openWindowUrl.ts
Labels: size/M

#97 feat: posthog, sentry add , social login
  package-lock.json
  package.json
  packages/analytics/index.tsx
  src/main.tsx
  src/pages/OnBoardingPage.tsx
  src/sentry.tsx
Labels: size/M

#98 feat: 리프레쉬토큰 추가
  src/entities/user/api/useLogin.ts
  src/entities/user/model/auth.store.ts
Labels: size/S

#99 feat: 구글로그인 딥링크
  packages/bridge-web/index.ts
  src/entities/user/components/AppSocialLoginProcessor.tsx
  src/main.tsx
  src/pages/LoginSuccessPage.tsx
  src/pages/OnBoardingPage.tsx
Labels: size/M

#101 feat: 구글 소셜 로그인 QA
  packages/env/index.ts
  src/features/userExp/HabitSection.tsx
  src/pages/LoginSuccessPage.tsx
  src/pages/OnBoardingPage.tsx
Labels: size/M

#102 fix: build error
  .github/workflows/aws-deploy-cd.yml
  .github/workflows/ci-test.yml
  .github/workflows/test-coverage.yml
  packages/env/index.ts
Labels: size/XS

#103 fix: 잘못된 딥링크 수정
  src/pages/LoginSuccessPage.tsx
  src/pages/OnBoardingPage.tsx
  src/shared/utils/openExternalUrl.ts
  src/shared/utils/openInAppUrl.ts
  src/shared/utils/openWindowUrl.ts
Labels: size/M

#104 fix: 구글로그인
  src/entities/user/components/AppSocialLoginProcessor.tsx
  src/pages/LoginSuccessPage.tsx
Labels: size/XS

#107 fix: login error
  src/entities/user/api/useLogout.ts
  src/entities/user/components/LogoutDialog.tsx
  src/pages/LoginPage.tsx
Labels: size/XS

#109 feat: 탈퇴하기 구현
  src/entities/user/api/useLogout.ts
  src/entities/user/api/useSignOut.tsx
  src/entities/user/components/SignOutDialog.tsx
  src/features/settingsMenu/components/SettingMenuList.tsx
  src/pages/OnBoardingPage.tsx
Labels: size/M

#110 feat: 로그아웃 동작 수정
  packages/storage/useStorageService.ts
  src/entities/user/model/auth.store.ts
  src/pages/LoginSuccessPage.tsx
Labels: size/S

#108 feat: qa 반영 수정
  packages/design-system/SendActionButton.tsx
  src/entities/record/components/ProgressStep/BookRecordWriteProgressStep.tsx
  src/entities/record/components/TextStep/BookRecordWriteTextStep.tsx
  src/pages/BookRecordDetailPage.tsx
Labels: size/S

#112 fix: QA 반영
  src/features/bookRecordDetail/components/BookRecordDetailFloatButton.tsx
  src/features/bookRecordRead/GoBookRecordWriteButton.tsx
  src/pages/BookRecordMemoAddPage.tsx
  src/pages/BookRecordPage.tsx
  src/pages/HomePage.tsx
  src/pages/TimerPage.tsx
Labels: size/S

#115 feat: 카카오 로그인 추가
  src/pages/OnBoardingPage.tsx
Labels: size/XS

#116 fix: QA 수정사항 반영 9 , 15
  public/images/gauge/gauge0.webp
  public/images/gauge/gauge100.webp
  public/images/gauge/gauge50.webp
  public/images/gauge/gauge_0.webp
  public/images/gauge/gauge_100.webp
  public/images/gauge/gauge_50.webp
  src/entities/record/api/getRecords.ts
  src/entities/record/components/ProgressStep/BookRecordWriteProgressStep.tsx
  src/entities/record/model/record.model.ts
  src/features/bookRecordDetail/components/BookRecordDetailFloatButton.tsx
  src/features/bookRecordRead/BookRecordList.tsx
  src/features/bookRecordRead/components/FirstUserRecordFallback.tsx
  src/features/bookRecordRead/lib/sortBookRecords.test.ts
  src/features/timer/components/TimerButtonSection.tsx
  src/index.css
  src/pages/BookRecordPage.tsx
  src/shared/images/gauge/gaugeImages.ts
Labels: size/M

#117 fix: 알라딘 api 요청 개수 70개
  src/entities/record/components/SearchStep/WriteSearchStep.store.tsx
  src/features/bookRecordWrite/BookRecordWriteFunnel.tsx
Labels: size/XS

#119 feat: 마이페이지 유저 스트릭 api 연결
  src/entities/user/api/getUserActivity.ts
  src/entities/user/model/user.model.ts
  src/features/userExp/HabitSection.tsx
  src/features/userInfo/UserInfoSection.tsx
  src/pages/HomePage.tsx
Labels: size/M

#120 feat: 마이페이지 독서기록 스트릭 api 연결
  src/entities/user/api/getUserActivity.ts
  src/features/userExp/HabitSection.tsx
Labels: size/M

#123 feat: 온보딩 퍼널
  package-lock.json
  public/images/onboarding/firstOnBoarding1.webp
  public/images/onboarding/firstOnBoarding2.webp
  public/images/onboarding/firstOnBoarding3.webp
  public/images/onboarding/firstOnBoarding4.webp
  src/features/onBoarding/FirstOnBoardingStep1.tsx
  src/features/onBoarding/FirstOnBoardingStep2.tsx
  src/features/onBoarding/FirstOnBoardingStep3.tsx
  src/features/onBoarding/FirstOnBoardingStep4.tsx
  src/main.tsx
  src/pages/FirstOnBoardingPage.tsx
  src/pages/OnBoardingPage.tsx
  src/shared/images/onboarding/onboardingImages.ts
Labels: size/L

#124 feat: 온보딩 다시보기
  src/features/onBoarding/FirstOnBoardingStep1.tsx
  src/features/onBoarding/FirstOnBoardingStep2.tsx
  src/features/onBoarding/FirstOnBoardingStep3.tsx
  src/features/onBoarding/FirstOnBoardingStep4.tsx
  src/pages/LoginPage.tsx
  src/pages/OnBoardingPage.tsx
Labels: size/S

#125 feat: 온보딩 퍼널 safeArea 및 배경색
  src/pages/FirstOnBoardingPage.tsx
Labels: size/M

#126 fix: 온보딩 퍼널 safeArea 수정
  src/pages/FirstOnBoardingPage.tsx
Labels: size/XS

#127 fix: 온보딩 퍼널 safeArea 수정
  src/pages/FirstOnBoardingPage.tsx
Labels: size/XS

#130 fix: 온보딩 퍼널 QA 반영
  src/features/onBoarding/FirstOnBoardingStep1.tsx
  src/features/onBoarding/FirstOnBoardingStep2.tsx
  src/features/onBoarding/FirstOnBoardingStep3.tsx
  src/features/onBoarding/FirstOnBoardingStep4.tsx
  src/pages/FirstOnBoardingPage.tsx
  src/pages/OnBoardingPage.tsx
Labels: size/M

#131 fix: QA 반영 오류 해결
  public/images/gauge/gauge0.webp
  public/images/gauge/gauge100.webp
  public/images/gauge/gauge50.webp
  src/entities/record/api/getRecords.ts
  src/entities/record/components/ProgressStep/BookRecordWriteProgressStep.tsx
  src/entities/user/api/getUserActivity.ts
  src/features/onBoarding/FirstOnBoardingStep1.tsx
  src/main.tsx
  src/pages/FirstOnBoardingPage.tsx
  src/pages/LoginPage.tsx
  src/pages/TermsPrivacyConsentPage.tsx
Labels: size/M

#132 fix: QA 반영 오류 해결
  src/entities/record/api/getRecordDetail.ts
Labels: size/XS
