Repository Central-MakeUs/Mercury-Web, pull requests merged in 2025-03, with the labels that each got.

#133 feat: 스켈레톤 추가 | QA 16, QA 16-2 개선
  package-lock.json
  src/entities/record/components/SearchStep/WriteSearchList.tsx
  src/features/bookRecordRead/BookRecordList.tsx
  src/features/timer/components/TimerButtonSection.tsx
Labels: size/M

#136 fix: text입력범위 수정
  packages/design-system/TextArea.tsx
  src/features/bookRecordDetail/components/BookRecordDetailFloatButton.tsx
  src/features/bookRecordRead/components/RecordedBookItem.tsx
  src/features/timer/components/TimerButtonSection.tsx
  src/pages/BookRecordMemoAddPage.tsx
Labels: size/S

#138 fix: lettercount 위치
  packages/design-system/TextArea.tsx
  src/entities/record/components/ProgressStep/BookRecordWriteProgressStep.tsx
  src/entities/record/components/TextStep/BookRecordWriteTextStep.tsx
  src/pages/TimerPage.tsx
Labels: size/XS

#139 fix: 메모생성요청 여러번 문제 해결
  src/entities/record/api/postRecords.ts
  src/entities/record/components/ProgressStep/BookRecordWriteProgressStep.tsx
  src/features/bookRecordWrite/BookRecordWriteFunnel.tsx
Labels: size/XS

#140 fix: 게이지 설정화면 스크롤 불가하도록
  src/entities/record/components/ProgressStep/BookRecordWriteProgressStep.tsx
Labels: size/XS

#141 feat: 중복 도서 등록 시 기존 기록으로 이동
  src/entities/record/api/getBooksExist.ts
  src/entities/record/components/SearchStep/WriteSearchList.tsx
  src/features/bookRecordDetail/components/BookRecordDetailFloatButton.tsx
  src/pages/TimerPage.tsx
Labels: size/M

#142 fix: 레이아웃 수정 및 HabitBar 클릭 시에도 오늘 습관 확인
  src/features/bookRecordRead/components/FirstUserRecordFallback.tsx
  src/features/userExp/HabitSection.tsx
Labels: size/M

#152 feat: add timer haptic feedback
  src/features/timer/components/TimerButtonSection.tsx
  src/shared/images/onboarding/onboardingImages.ts
Labels: size/XS

#153 style: searchBar fadein
  src/pages/BookRecordPage.tsx
  src/shared/images/onboarding/onboardingImages.ts
Labels: size/XS

#154 feat: 로깅 툴 주석 해제
  src/main.tsx
Labels: size/M

#155 feat: 햅틱 피드백 추가
  packages/design-system/TimePickerBottomSheet.tsx
  src/shared/images/onboarding/onboardingImages.ts
Labels: size/XS
